body {
    /* background-color: black; */
    /* testing */
    background-color: white;
}

body * {
    margin: 5px;
}

p, pre {
    padding: 7px;
    border-radius: 9px;
    font-size: medium;
    /* color: white; */
    /* background: rgb(34, 33, 33); */
    
    /* testing */
    color: black;
    background: white;
}

pre {
  white-space: pre-wrap; /* Allow wrapping for long lines */
  font-family: monospace; /* Use a monospace font for consistent formatting */
  overflow-wrap: break-word;
}

#main-div {
    display: flex;
    flex-direction: column;
    height: 98vh;
}

#previous-text-div {
     flex: 9;
    overflow-y: auto;
}

#chat-from {
    display: flex;
    border: 1px solid white;
}

#message-input {
    flex: 1;
    width: 99%;
    box-sizing: border-box;
    /* background: rgb(32, 32, 32); */
    outline: none;
    border: 0;
    /* color: rgb(255, 255, 255); */
    height: 2.8em;
    padding: 15px;
    border-radius: 20px;
    font-size: medium;
    
    /* Testing */
    background: white;
    color: black;
}